.container {
  height: 90vmin;
  width: 65vmin;
  background-color: rgb(56, 45, 214);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: auto;
  margin-top: 5vmin;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}
.searchbar {
  display: flex;
  justify-content: center;
  gap: 1.5vmin;
  padding-top: 5vmin;
  margin: auto;
}
.cityName {
  height: 8vmin;
  width: 40vmin;
  border-radius: 40px;
  border: none;
  outline: none;
  color: gray;
  font-size: 2.5vmin;
  font-weight: 500;
  padding-left: 2vmin;
}
.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vmin;
  width: 8vmin;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.weather-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 6vmin;
  color: #ffffff;
  font-weight: 600;
}
.data-container{
    display: flex;
  justify-content: center;
  margin-bottom: auto;
}
.element{
    gap: 3vmin;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.data{
    font-size: 2vmin;
  color: #ffffff;
  font-weight: 600;
}
